<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.lblogserver.password.mapper.PasswordMapper">

    <resultMap id="PasswordResult" type="com.yang.lblogserver.password.domain.Password">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="siteName" column="site_name"/>
        <result property="siteUrl" column="site_url"/>
        <result property="username" column="username"/>
        <result property="encryptedPassword" column="encrypted_password"/>
        <result property="note" column="note"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectByUserId" resultMap="PasswordResult">
        SELECT * FROM passwords
        WHERE user_id = #{userId} AND is_deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (site_name LIKE CONCAT('%', #{keyword}, '%')
                 OR username LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY updated_at DESC
    </select>

    <select id="selectById" resultMap="PasswordResult">
        SELECT * FROM passwords WHERE id = #{id} AND user_id = #{userId} AND is_deleted = 0
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO passwords (user_id, site_name, site_url, username, encrypted_password, note)
        VALUES (#{userId}, #{siteName}, #{siteUrl}, #{username}, #{encryptedPassword}, #{note})
    </insert>

    <update id="update">
        UPDATE passwords
        <set>
            <if test="siteName != null">site_name = #{siteName},</if>
            <if test="siteUrl != null">site_url = #{siteUrl},</if>
            <if test="username != null">username = #{username},</if>
            <if test="encryptedPassword != null">encrypted_password = #{encryptedPassword},</if>
            <if test="note != null">note = #{note},</if>
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <update id="softDelete">
        UPDATE passwords SET is_deleted = 1
        WHERE id = #{id} AND user_id = #{userId} AND is_deleted = 0
    </update>
</mapper>
